/* 1. Defina o elemento .page-wrapper como referência para posicionamento.
*/
.page-wrapper{
        position: relative;
}

/* 2. Faça com que o painel .explanation ocupe 60% da largura disponível, mas crie um espaçamento a direita de 35% utilizando margin .

- Adicione uma borda à direita do painel de 1px, com a cor #1f295c

- Adicione um espaçamento interno de 2% no lado direito do painel.
*/

.explanation{
        width: 60%;
        margin-right: 35%;

        border-right: 1px #1f295c solid;
        padding-right: 2%;
}

/* 3. Agora mova o menu de designs para a direita da página, ocupando o espaço em branco deixado pelo elemento .explanation .

- Faça-o iniciar na parte superior da página, após a parte de introdução (por exemplo, aplicando top: 560px ).

- Faça-o iniciar após o elemento .explanation (por exemplo, aplicando left: 62% ).

- Adicione um espaçamento interno horizontal de 2% no menu para centralizá-lo.
*/

#design-selection{
        position:absolute;
        top: 560px;
        left: 62%;

        padding-left: 2%;
        padding-right: 2%;
}










/* último exercicio */
html {
        width: 80%;
        max-width: 1280px;
        align-content: center;
        margin: auto;
}
#zen-intro{
        height: 550px;
}
#design-archives{
        display: none;
}

header{
        background: darkblue;
        color: antiquewhite;
        display: inline-block;
}

header h1, h2{
        display: inline-block;
        margin: 10px;
}

header h1{
        margin-left: 1em;
        margin right: 1em;
}

aside ul{
        list-style-type: none;
}
.aside ul li {
        margin: 1em;
        align-items: center;
}
.main footer{
        margin: 4%;
}
.main footer a{
        background-color: aliceblue;
        color:darkblue;

        padding: 0.5em;
        display: inline-block;
        border: 2px;
        border-style: solid;

}